html {
  font-family:sans-serif;
}

body {
  margin:0;
}

a {
  background-color:transparent;
}

a:active,a:hover {
  outline:0;
}

abbr[title] {
  border-bottom:1px dotted
}

b,strong {
  font-weight:bold;
}

dfn {
  font-style:italic;
}

h1 {
  font-size:2em;
  margin:0.67em 0;
}

mark {
  background:#ff0;
  color:#000;
}

small {
  font-size:80%;
}

sub,sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sup {
  top:-0.5em;
}

sub {
  bottom:-0.25em;
}

svg:not(:root) {
  overflow:hidden;
}

figure {
  margin:1em 40px
}

hr {
  box-sizing:content-box;
  height:0;
}

pre {
  overflow:auto;
}

code,kbd,pre,samp {
  font-family:monospace,monospace;
  font-size:1em
}

fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em
}

legend {
  border:0;padding:0
}

textarea {
  overflow:auto
}

optgroup {
  font-weight:bold
}

table {
  border-collapse:collapse;
  border-spacing:0
}

td,th {
  padding:0
}
html,body {
  margin:0;padding:0
}
html {
  font-family:Georgia,serif;
  font-size:16px
}
@media (min-width: 48em){
  html{font-size:18px}
}

body{
  padding:1rem 1rem;
  line-height:1.5;
  color:#555;
  background-color:#fff
}
a {
  font-weight:inherit;
  line-height:inherit;
  color:#222;
  text-decoration:none;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out
}
a:hover {
  color:#000
}

h1 a {
  border-bottom:0
}
.body a,.footer a {
  border-bottom:1px solid #ddd
}
.body a:hover,.footer a:hover {
  border-bottom-color:#000
}
.post-body .anchorjs-link {
  border-bottom:0
}

hr {
  width:100px;
  height:1px;
  margin:2rem auto;
  background-color:#eee;
  border:0
}

h1,h2,h3,h4,h5,h6 {
  margin-top:0;
  margin-bottom:.5rem;
  font-weight:bold;
  line-height:1.1;color:#333;
  letter-spacing:-.025rem
}

h1 {
  font-size:2rem
}

h2 {
  font-size:1.6rem
}

h3 {
  font-size:1.2rem
}

p {
  margin:0 0 1rem
}

ul,ol {
  margin-top:0;
  margin-bottom:1rem;
  padding-left:1.5em
}

.body li {
  margin-bottom:.25rem
}

abbr {
  background-color:#eee;
  display:inline-block;
  padding:3px;
  font-size:13px;
  font-weight:bold;
  color:#555;
  text-shadow:0 1px 1px rgba(255,255,255,0.5);
  text-transform:uppercase;
  border-radius:3px
}
blockquote {
  padding:0 0 0 1.5rem;
  margin:0 2rem 1rem 0;
  color:#999;
  border-left:.5rem solid #e5e5e5
}
blockquote p:last-child {
  margin-bottom:0
}

code,pre {
  font-family:Menlo,Monaco,"Courier New",monospace
}

code {
  padding:.15em .3em;
  font-size:80%;
  font-style:normal;
  font-weight:normal;
  color:#d44950;
  background-color:#f5f5f5;
  border-radius:.15em
}

@media (max-width: 30em) {
  code {
    word-break:break-word
  }
}
img.slackanimated-gif{
  width: 100%;
  height: auto;
}
#tab { display:inline-block;
       margin-left: 40px; }

pre {
  display:block;
  margin:0 0 1rem;
  font-size:.875rem;
  line-height:1.4;
  white-space:pre;
  white-space:pre-wrap;
  word-break:break-all;
  word-wrap:break-word
}

pre code {
  padding:0;
  color:inherit;
  background-color:transparent
}

.highlight {
  padding:1rem 1.2rem;
  background-color:#f5f5f5;
  border-radius:.15rem;
  margin:1rem 0
}

.pickyDemo {
  height: 100%;
  width: 100%;
}
.highlight pre {
  margin-bottom:0;
  font-size:.875rem
}

body {
  background:#f9f9f9
}

@media (max-width: 34em) {
  .body {
    padding:0 15px
  }
}

h1 {
  font-size:1.7rem
}

.container {
  background:#fff;
  max-width:55rem;
  margin:0 auto;
  padding:25px 20px
}

@media (min-width: 34em) {
  .container {
    padding:25px 70px
  }
}

.header-bar {
  margin-bottom:60px
}

.title {
  font-family:apolline,serif
}

.icon-folder2:before {
  color:#6bccf9;
  content:"\e900";
  vertical-align:-10%
}
.bio-image {
  width:100%
}

@media (min-width: 34em) {
  .bio-image{width:80%}
}
.bio-image-new {
  width:100%
}

@media (min-width: 34em) {
  .bio-image-new {
    width:25%;
    float:left;
    margin-right:20px
  }
}

.bio-image-20 {
  width:60%
}

@media (min-width: 34em) {
  .bio-image-20 {
    width:20%
  }
}

.bio-image-40 {
  width:60%
}

.about-me{
  margin-left:10px
}

.mybio {
  float: right;
  display:block;
  margin-left: 5px;
  border-radius:.25rem
}

@media (min-width: 34em) {
  .bio-image-40 {
    width:40%
  }
}

.masthead {
  margin-bottom:0;
  font-size:1rem;
  color:#777;
  padding-top:1rem
}

@media (max-width: 34em){
  .masthead{
    padding:1rem 15px 0
  }
}
@media (min-width: 34em){
  .masthead{
    text-align:right
  }
}
.masthead:after{
  display:block;
  content:"";
  width:100px;
  height:1px;
  margin:2rem auto;
  background-color:#eee
}
@media (min-width: 34em){
  .masthead:after{
    margin:3rem auto
  }
}
.masthead-title{
  font-family:"apolline",serif
}
@media (min-width: 34em){
  .masthead-title{
    float:left
  }
}
.nav{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.nav li{
  display:inline-block
}
.nav li+li{
  margin-left:1rem
}
.post{
  position:relative;
  margin-bottom:4rem
}
.post img,.post iframe{
  max-width:100%
}
.post iframe{
  margin-bottom:1rem
}
.post-date{
  display:block;
  margin:1rem 0 1rem;
  color:#bbb
}
.social-buttons{
  margin:.5rem 0 0;
  display:inline-block
}
.social-buttons .twitter-share-button{
  float:left
}
.social-buttons .fb-share-button{
  float:left;
  margin-left:10px;
  height:28px
}
.social-buttons .IN-widget{
  float:left;
  margin-left:10px;
  margin-top:7px;
  height:28px
}
.page{
  padding-bottom:4rem
  display:flex
}
.page-title{
  margin-bottom:2rem
}
.page-body>p:first-child{
  font-size:1.25rem
}
.related,.footer{
  text-align:center
}
.related ul{
  list-style:none;
  padding-left:0;
  margin-bottom:0
}
.related-posts{
  margin-bottom:4rem
}
.related-posts li small{
  font-size:75%;
  color:#999
}
.related-posts li a:hover{
  color:#000;
  text-decoration:none
}
.code-editor {
  position:relative;
  margin-top:30px;
  width:100%;
  color:#fafafa;
  background-color:#383737;
  font-family:'Monaco','Courier New';
  text-align:left;
  border-radius:5px;
  font-size:13px;
  box-shadow:0px 3px 20px 0.5px rgba(0,0,0,0.19)
}
.code-editor li{
  margin-bottom:0
}
.code-editor .top-bar{
  font-size:14px;
  color:#000;
  text-align:center;
  height:30px;
  background-color:#fff;
  border-radius:5px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0
}
.code-editor .top-bar ul.control{
  list-style:none;
  padding:5px 5px 5px 10px;
  text-align:left;
  position:absolute;
  left:0;
  height:30px;
  margin-bottom:0
}
.code-editor .top-bar ul.control .button{
  display:inline-block;
  width:12px;height:12px;
  border-radius:100%
}
.code-editor .top-bar ul.control .button:first-of-type{
  background-color:#fc635e
}
.code-editor .top-bar ul.control .button:nth-of-type(2){
  background-color:#fec242
}
.code-editor .top-bar ul.control .button:last-of-type{
  background-color:#35cd4b
}
.code-editor .top-bar .file-path{
  padding:5px
}
.code-editor .code{
  margin:0 auto;
  padding:20px 30px
}
span.answer{
  color:#25bf33
}
span.answer a{
  color:#25bf33;
  border-bottom-color:#25bf33
}
span.answer a:hover{
  border-bottom-color:#fff
}
span.answer .white{
  color:#fff
}
@media screen and (max-width: 680px){
  .code-editor{
    font-size:12px
  }
  .code-editor .top-bar .file-path{
    font-size:12px
  }
}
@media screen and (max-width: 420px){
  .code-editor{
    margin-top:50px
  }
  .code-editor .code{
    padding:20px 25px
  }
}
.projects{
  display:inline-block;
  width:100%
}
.projects a{
  border-bottom:none
}
@media (max-width: 1000px){
  .projects a>div{
    height:150px!important
  }
}
.projects .block{
  position:relative;
  top:6px;
  -webkit-transition:.2s ease-in-out;
  transition:.2s ease-in-out;
  width:46%;
  height:300px;
  float:left;
  margin-bottom:60px
}
.projects .block:hover{
  transform:scale(1.01)
}
.projects .block:nth-child(even){
  float:right
}
@media (max-width: 720px){
  .projects .block{
    width:100%;height:auto
  }
}
.projects .block .wrapper{
  width:100%;height:200px
}
.projects .block .wrapper .thumbnail{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:80%,100%;
  margin:0 0 1.2rem;
  border-radius:3px;
  height:200px
}
/*.projects .block .wrapper #motivateme{
  background-image:url("../img/projects/motivate-me.png");
  background-size: contain;
  background-color:#e4eef2;
}*/
.projects .block .wrapper #Poppin{
  background-image:url("../img/projects/slackbot.jpg");
  background-size: contain;
  background-color: white;
}
.projects .block .wrapper #nyuSales{
  background-image:url("../img/projects/slackbot.jpg");
  background-size: contain;
  background-color: white;
}
.projects .block .wrapper #pickyEater{
  background-image:url("../img/projects/slackbot.jpg");
  background-size: contain;
  background-color: white;
  width: 100%;
  height: 100%;
}
.projects .block .wrapper #slackBot{
  background-image:url("../img/projects/slackbot.jpg");
  background-size: contain;
  background-color: white;
}

.projects .block .wrapper #giphy{
  background-image:url("../img/projects/giphy1.gif");
  background-size: contain;
  background-color: white;
}

.projects .block .wrapper #findYourBestSpot{
  background-image:url("../img/projects/spot_logo.png");
  background-size: contain;
  /*background-color: white;*/
  background-color:#F8BF38;
}
.projects .block .wrapper #HuffnPuff{
  background-image:url("../img/projects/zipped6.png");
  background-size: contain;
  background-color: white;
  /*border: 1px solid black;*/
}

.projects .block .wrapper #hangman{
  background-image:url("../img/projects/hangman.jpg");
  background-size: contain;
  background-color: white;
  /*border: 1px solid black;*/
}

.projects .block .wrapper #JaneStreetETC{
  background-image:url("../img/projects/janestreet.jpeg");
  background-size: contain;
  background-color: white;
  /*border: 1px solid black;*/
}

.projects .block .wrapper #cbt{
  background-image:url("../img/projects/computer4.jpeg");
  background-size: cover;
  background-color:#2d3439;
}

.projects .block .wrapper #upenn{
  background-image:url("../img/projects/upenn.png");
  background-size: contain;
  background-color: white;
  /*border: 1px solid black;*/
}

#picture1{
  background-image:url("../img/projects/Picture1.png");
  /*background-size: auto;*/
  /*height: inherit;
  width: inherit;*/
}

#spot {
    height: 600px;
    width: 300px

}


.projects .block .wrapper a{
  float:left;position:relative;
  width:100%;
  height:auto
}
.projects .block .wrapper a span{
  text-align:center;
  -webkit-transition:.2s ease-in-out;
  transition:.2s ease-in-out
}
.projects .block .name{
  font-size:18px;
  margin-top:-15px;
  margin-bottom:0;
  color:#d44950
}
.projects .block .description{
  font-size:13px;color:#6d6d6d;
  margin-bottom:4px
}
@media (max-width: 1000px){
  .projects .block .description{
    margin-bottom:10px
  }
}
.projects .block .topics span{
  display:inline-block;
  padding:0.3em 0.9em;
  margin:0 0.5em 0.5em 0;
  white-space:nowrap;
  background-color:#f1f8ff;
  border-radius:3px;
  color:#0366d6;
  text-decoration:none;
  font-size:12px
}

#icon {
    padding: 15px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-github:hover {
    opacity: 0.5;
    color: white
}

.fa-linkedin {
    background: rgb(2,130,189);
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-file-pdf-o {
    background: grey;
    color: white;
}
